{% block educations_cards %}
<div class="card text-center education-card mb-3" onclick="location.href='{% url 'educations:education_n' education_item.id %}';">
    <img class="img-fluid card-img-top card-img-edu" src="{{ education_item.image.url }}" alt="Card image cap">
    <div class="card-header">
        <h5 class="card-title">{{ education_item.name }}</h5>
    </div>
	<div class="card-body">
		<p class="card-text">
		{{ education_item.description|truncatechars_html:250 }}
		</p>
	</div>
	<div class="card-footer">
    <!-- {#   {{ education_item.price }} Рублей. #}   -->
	</div>
</div>

{% endblock educations_cards %}

<div onclick="location.href='http://google.com';"></div>
