{% extends "wrapper.html" %}
{% block content %}
{% load static %}


<div class="container">
   <div class="">
       <div id="custom-card" class="card mb-3">
               <div class="card-header p-3">
                   <h3 class="card-title mb-1">{{ education.name }}</h3>
                   <h5 class="">
                       Стоимость обучения: {{ education.price }} <span class="text-small">₽</span>
                   </h5>
               </div>
               <div class="card-body">
                 <!-- {#  <img class="img-fluid card-img-medium float-left mr-2 mb-1" src="{{ education.image.url }}" alt="Card image cap">	 #} -->

                   <div class="content">
                       {{ education.content | safe }}
                   </div>
               </div>
               <div class="card-footer p-1 text-center">


				<i class="fas fa-warning fa-lg edu-btn btn btn-dark btn-lg btn-block" type="button" name="button" data-id="{% url 'educations:create_eduorder_n' education.pk %}">Записаться на обучение!</i>
               </div>
       </div>
    </div>
</div>


{% endblock content %}
