{% extends "wrapper.html" %}
{% block content %}
{% load static %}


<div class="container-fluid">
    <div class="row">
        <div class="card w-100">
            <div class="card-header d-flex flex-column flex-md-row  justify-content-around p-1">
               <div class="col-md-5 mb-1">
                  <h4>{{ education.name }}</h4>
                  <div class="">
                      <span class="bg-warning p-1">{{ education.format }}</span>
                      <div class="d-inline">{{ education.price }} <i class="fas fa-ruble-sign"></i><span class="ml-3">{{ education.duration }} часов.</span></div>
                  </div>
               </div>
               <div class="col-md-2 text-center order-md-3 px-0 py-1">
                   <div class="ya-share2" data-services="vkontakte,facebook,twitter,whatsapp,telegram"></div>
                   <h5 class="d-none d-md-block m-0">Поделиться</h5>
               </div>
               <button class="btn btn-dark edu-btn col-md-3 ml-auto p-3 p-md-2" type="button" data-id="{% url 'educations:create_eduorder_n' education.pk %}">
                   <h5 class="m-0">Купить</h5>
               </button>
            </div>
            <div class="card-body">
                <h5>План занятий</h5>
                <div class="card-deck justify-content-around">
                        {% for item in education.educationplanpoint_set.all %}
                        <div class="card plan-card my-2">
                            <div class="card-header">
                                {{ item.title }}
                            </div>
                            <div class="card-body p-2">
                                {{ item.content | safe }}
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>

            <div class="card-footer">
                <h5>Результаты и цели обучения</h5>
                <div class="card-deck justify-content-around">
                    {% for item in education.educationresultpoint_set.all %}
                    <div class="card result-card my-2">
                        <div class="card-header">
                            {{ item.title }}
                        </div>
                        <div class="card-body p-2">
                            {{ item.content | safe }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-dark btn-lg btn-block edu-btn d-md-none" type="button" data-id="{% url 'educations:create_eduorder_n' education.pk %}">Купить</button>
        </div>
    </div>
</div>


{% endblock content %}
