
{% extends "wrapper.html" %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="cards-container col-12  mx-auto">
            <!-- <h3>О нас</h3> -->
            <!-- <p>
                <img class="alignnone size-full wp-image-2457" src="" alt="line" width="53" height="3">
            </p> -->
            <!-- <div class="card-columns"> -->
                <div class="card border-0">
                    <div class="card-body">
                        <!-- <img class="card-img-top card-img-small float-left pr-3" src="{% static 'img/cardleaf.png' %}" alt="Card image cap"> -->
                        <h5 class="card-title border-bottom">О нас</h5>
                        <p class="card-text pt-2">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text pt-2">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text pt-2">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>


{% endblock content %}
