{% load static %}
{% block footer %}
    <footer class="footer py-3">
        <div class="container">
            <!-- <div class="social mx-auto text-center"> -->
            <div class="social d-flex flex-row justify-content-center align-content-center">
                <span class="mx-md-2"> </span>
                <span>
                    <a href="https://vk.com/public177248775">
                        <i class="fab fa-vk fa-lg"></i>
                    </a>
                </span>
                <span class="mx-3 mx-md-1"> </span>
                <span>
                    <a href="https://instagram.com/likwidclub">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </span>
                <span class="mx-3 mx-md-1"> </span>
                <span>
                    <a href="https://m.facebook.com/Likwid-Club">
                        <i class="fab fa-facebook-square fa-lg"></i>
                    </a>
                </span>

                <!-- Button trigger modal -->
				<span class="mx-3 mx-md-1"> </span>
                {% if request.path == '/' %}
                <span class="">
                    <aside class="reqest-get animation-active d-md-none">
                        <!-- <h3 id="callbackWidget" class="reqest-get_title"> -->
                            <img src="{% static 'img/phone_but.png' %}" alt="" class="reqest-get_title create-callme img-fluid">

                            <!-- <span class="reqest-get_sub-title">Call Back</span> -->
                            <!-- </h3> -->
                            <section id="first_me" class="reqest-modul reqest-modul_request js-callback-request" style="display: none;">
                                <div id="close_me1" class="reqest-modul_close-button js-reqest-modul-close"></div>
                                <!-- <form class="js-callback-form-root">
                                    <input type="text" name="phone_no" value="" maxlength="10" id="phone_no" class="phone_nmbr">
                                    <a onclick="Validate()" class="reqest-modul_button reqest-modul_request-button ">
                                        Call me back
                                    </a>
                                </form> -->
                                <!-- <p class="reqest-modul_disclaimer">One of our Travel Agents will call you back within the next <b>59 seconds</b> to discuss your travel plans. By submitting your phone number, you agree to be contacted via phone and/or sms. No booking necessary. Your personal data is 100% safe.</p> -->
                            </section>
                        </aside>

                </span>
                {# % else % #}
                <!-- <i class="fas fa-phone-square fa-lg create-callme btn btn-dark p-1 d-none" type="button" name="button">
                    <span class="pulse">
                    </span>
                </i> -->


				{% endif %}

                <!-- <span class="mx-3 mx-md-1"> </span> -->
            </div>
		{#	{% include "includes/login_bar.html" %}  #}
        </div>
    </footer>
{% endblock footer %}
