{% load widget_tweaks %}
{% load static %}
{% block footer_form %}

    <div class="d-none d-sm-flex col-md-6 col-lg-7 col-12 man-form p-0">
    </div>
    <div class="col-12 col-md-6 col-lg-5 py-5 px-5 bg-likwid" id="id_form_footer">
        <form method="post"">
            {% csrf_token %}
            <div class="mainformheader">
                <h1 class="mainformtitle">Нужна помощь специалиста?</h1>
                <p class="text-white">Оставте заявку, и мы свяжемся с вами для проведения бесплатной консультации</p>
            </div>
            <div class="mainformbody">
                <div class="form"">
                    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in form %}
                    <div class="col-12 col-md-8 border-bottom border-light px-0 mt-3">
                        <label class="" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% render_field field class="form-control bg-likwid pl-0" placeholder='' %}
                        <div class="{% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                            <p class="help-block text-warning">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-form px-5 my-2 ">
            Отправить
            </button>
            {% comment %}
                <button type="" href="{% if '/educations/detail/' in request.path %}
                                        {% url 'educations:create_eduorder_n' education.id %}
                                        {% endif %}"
                                            class="btn btn-form px-5 my-2 ">
                Отправить
                </button>
            {% endcomment %}
        </form>
    </div>

{% endblock footer_form %}
