{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="social mx-auto text-center">
                <span class="mx-md-2"> </span>
                <span>
                    <a href="https://vk.com/public177248775">
                        <i class="fab fa-vk fa-lg"></i>
                    </a>
                </span>
                <span class="mx-3 mx-md-1"> </span>
                <span>
                    <a href="https://instagram.com/likwidclub">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </span>
                <span class="mx-3 mx-md-1"> </span>
                <span>
                    <a href="https://m.facebook.com/Likwid-Club">
                        <i class="fab fa-facebook-square fa-lg"></i>
                    </a>
                </span>

                <!-- Button trigger modal -->
				<span class="mx-3 mx-md-1"> </span>
                {% if request.path == '/' %}
					<i class="fas fa-phone-square fa-lg create-callme create-callme-morfing btn btn-dark p-1" type="button" name="button">
						<span class="pulse">
						</span>
					</i>
                {# % else % #}
                <!-- <i class="fas fa-phone-square fa-lg create-callme btn btn-dark p-1 d-none" type="button" name="button">
                    <span class="pulse">
                    </span>
                </i> -->


				{% endif %}

                <!-- <span class="mx-3 mx-md-1"> </span> -->
            </div>
		{#	{% include "includes/login_bar.html" %}  #}
        </div>
    </footer>
{% endblock footer %}
