{% block header %}
{% load static %}

<div class="header">

{% comment %}
    <p>{{ request.path }}</p>
    <p>{{request.get_full_path}}</p>
    {% if request.path == '/' %}
    <p>
        This appears if variable somevar is greater than 1 or equal to 1.
    </p>
    {% endif %}
{% endcomment %}

    <!-- burger -->
    <div class="menu "> <span></span> </div>
    <nav id="nav">
        <ul class="main">
            <li><a target="_blank" href="https://www.facebook.com/ravi7284007">Hi There! Ravi</a></li>
            <li><a target="_blank" href="https://www.facebook.com/ravi7284007">About ME</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Digital Marketing</a></li>
            <li><a target="_blank" href="https://www.instagram.com/ravi_singh_7/">Portfolio</a></li>
            <li><a target="_blank" href="https://500px.com/ravi7284007">Contact</a></li>
        </ul>
    </nav>
    <div class="overlay"></div>


    <!-- logo -->
{% if request.path == '/' %}

    <div class="container">
        <div class="row-fluid">
            <div class="py-2 my-1 mx-auto">
                    <div class="text-center">
                        <a class="" href="/"><img src="{% static 'img/logo_medium.png' %}" alt="" class="img-fluid"></a>
                        <p id="nowDate" class="text-monocase m-0">
                        <span class="p-1">
                            {{ nowDate|date:'d.m.Y H:i' }} MSK
                        </span>
                        </p>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo_medium.png' %}" alt="" class="img-fluid"></a>
        <!-- <a class="navbar-brand" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Исправлена ​​навигация</font></font></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <nav id="main-nav">
                <ul class="nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase active" href="/about">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/education">Обучение</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/events">Мероприятия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/hall">Закрытый клуб</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
{% endif %}


</div>
    <!-- logo end -->






{% endblock header %}
