{% block header %}
{% load static %}

<div class="header">
    <!-- burger -->
    <!-- <div class="menu "> <span></span> </div>
    <nav id="nav">
        <ul class="main">
            <li><a target="_blank" href="https://www.facebook.com/ravi7284007">Hi There! Ravi</a></li>
            <li><a target="_blank" href="https://www.facebook.com/ravi7284007">About ME</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Digital Marketing</a></li>
            <li><a target="_blank" href="https://www.instagram.com/ravi_singh_7/">Portfolio</a></li>
            <li><a target="_blank" href="https://500px.com/ravi7284007">Contact</a></li>
        </ul>
    </nav>ml-md-auto
    <div class="overlay"></div> -->


    <!-- logo -->
    <div class="container">
        <div class="row-fluid">
            <div class="pt-1 pt-sm-4 mx-auto">
            <!-- <div class="col-lg-5 col-sm-12 pt-lg-5 mx-auto"> -->
                    <div class="text-center">
                        <a class="" href="/"><img src="{% static 'img/logo_medium.png' %}" alt="" class="img-fluid"></a>
                        <p id="nowDate">
                            {{ nowDate|date:'d.m.Y H:i' }} MSK
                        </p>
                    <span></span>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <nav id="main-nav">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </nav>
                <!-- <nav id="main-nav" class="show mx-auto">
                    <ul class="main">
                    <li><a target="_blank" href="https://www.facebook.com/ravi7284007">Hi There! Ravi</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/ravi7284007">About ME</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Digital Marketing</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/ravi_singh_7/">Portfolio</a></li>
                    <li><a target="_blank" href="https://500px.com/ravi7284007">Contact</a></li>
                    </ul>
                </nav> -->
            </div>
        </div
    </div>


</div>




{% endblock header %}
