{% block header %}
{% load static %}


<div class="header">
    {% comment %}
    {% endcomment %}
    {% if request.path != '/s' %}
    <div class="container fixed-top">
        <nav class="navbar navbar-expand-md navbar-dark flex-nowrap p-0">
            <div class="text-center">
                <a class="navbar-brand mr-0" href="/"><img src="{% static 'img/logo_small.png' %}" alt="" class="img-fluid">
                    <!-- <p id="nowDate-main" class="text-monocase m-0">
                        <span class="p-1">
                            {# { nowDate|date:'d.m.Y H:i' } #} MSK
                        </span>
                    </p>
                    <span></span> -->
                </a>
            </div>
              <!-- Button trigger modal -->
            <!-- <i class="fas fa-phone-square fa-lg create-callme btn btn-dark order-md-3" type="button" name="button"></i> -->


						 <i class="fas fa-phone-square fa-lg create-callme btn btn-dark order-md-3" type="button" name="button">
							 <span class="pulse">

						 </span>
						 </i>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-around" id="navbarCollapse">
                <nav id="main-nav" class="">
                    <ul class="nav flex-column flex-md-row justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase active align-baseline" href="/">На главную</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase active align-baseline" href="/aboutus">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase align-middle" href="/educations">Обучение</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="/events">Мероприятия</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase disabled" href="/hall">Закрытый клуб</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="/contacts">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
        {% else %}
        <nav class="navbar bg-transparent justify-content-center">
            <div class="main-logo py-2 text-center">
                <a href="/"><img src="{% static 'img/logo_small.png' %}" alt="" class="img-fluid"></a>
                <p id="nowDate" class="text-monocase m-0">
                    <span class="p-1">
                        {{ nowDate|date:'d.m.Y H:i' }} MSK
                    </span>
                </p>
                <span></span>
            </div>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock header %}
