{% block minicarousel %}
{% load static %}


<div class="container d-none d-sm-flex flex-row align-items-center px-0">
    <img class="customPrevBtn mr-3" src="{% static 'img/leftbtn.png'%}" alt="">
    <div class="w-75 mx-auto flex-fill">
            <div class="owl-carousel owl-theme">
                <img class="d-block img-fluid" src="{% static 'img/icmarkets-logo.png'%}" alt="">
                <img class="d-block img-fluid" src="{% static 'img/alfaforex.png' %}" alt="">
                <img class="d-block img-fluid" src="{% static 'img/bks-forex.png' %}" alt="">
                <img class="d-block img-fluid" src="{% static 'img/logo-bz.png' %}" alt="">
            </div>
    </div>
    <img class="customNextBtn ml-3" src="{% static 'img/rightbtn.png'%}" alt="">
</div>

<div class="d-sm-none px-5 text-center">
    <div class="owl-carousel owl-theme">
        <img class="d-block img-fluid" src="{% static 'img/icmarkets-logo.png'%}" alt="">
        <img class="d-block img-fluid" src="{% static 'img/alfaforex.png' %}" alt="">
        <img class="d-block img-fluid" src="{% static 'img/bks-forex.png' %}" alt="">
        <img class="d-block img-fluid" src="{% static 'img/logo-bz.png' %}" alt="">
    </div>
    <div class="owl-carousel owl-theme pt-5">
        <img class="d-block img-fluid" src="{% static 'img/bks-forex.png' %}" alt="">
        <img class="d-block img-fluid" src="{% static 'img/logo-bz.png' %}" alt="">
        <img class="d-block img-fluid" src="{% static 'img/icmarkets-logo.png'%}" alt="">
        <img class="d-block img-fluid" src="{% static 'img/alfaforex.png' %}" alt="">
    </div>
    <a class="btn btn-lg btn btn-outline-muted text-nowrap mt-5" href="#" role="button">Показать больше</a>

</div>



{% endblock minicarousel %}
