<!doctype html>

<!-- <html lang="ru"> -->
<html lang="ru" class="h-100">
  <head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/font_style.css' %}" type="text/css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300&amp;subset=cyrillic-ext" rel="stylesheet"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Podkova&subset=cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{% static 'css/cb_style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/cb_responsive.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'img/favicon-32x32.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/GothamPro/stylesheet.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'distowl/assets/owl.theme.default.min.css' %}"> -->
    <title>Likwid Club</title>

  </head>

  <!-- <body> -->
    <!-- <div id="container" class="contain"> -->
    <body class="d-flex flex-column h-100">
    <!-- <body class="d-flex flex-column justify-content-center h-100"> -->
    {% if request.path != '/' %}
    <!-- <div id="container" class="contain"> -->
    <body class="d-flex flex-column h-100">
        {% else %}
    {% endif %}
    <!-- social links from yandex -->
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
    <!-- modal window for forms -->
    {% include "_modal.html" %}
	<!-- message_modal -->
	{% include "includes/message_modal.html" %}
	<!-- header -->
    {% include "includes/header.html" %}

    {% if request.path != '/' %}
    <main role="main" class="main pad">
    {% else %}
    <main role="main" class="main">
    {% endif %}

    {% block content %}
    {% endblock content %}
        </main>

<!-- footer -->
    {% include "includes/footer.html" %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

      <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
      <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>




    <!-- <script>
    $('.menu, .overlay').click(function () {
	    $('.menu').toggleClass('clicked');
	    $('#nav').toggleClass('show');
    });
    </script> -->



    {% block extrascripts %}
    {% endblock extrascripts %}
  </body>
</html>
