{% block products_cards %}
<div class="card text-center">
	<div class="card-header">
		<h5 class="card-title">{{ product_image.product.name }}</h5>
	</div>
	<div class="card-body float-right">
	    <a href="{% url 'product_n' product_image.product.id %}">
		<img class="img-fluid float-left card-img-medium" src="{{ product_image.image.url }}" alt="Card image cap">
		</a>
		<p class="card-text">
		{{ product_image.product.description|truncatechars_html:250 }}
		</p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			{{ product_image.product.price }} Рублей.
		</li>
	</ul>
	<div class="card-footer">

		<form class="formBuyProduct form-row form-inline justify-content-center" action="{% url 'basket_adding' %}">{% csrf_token %}
			<label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
			<input type="hidden" class="inBuyProduct form-control" name = "val" value="1" required>
			<button type="submit" class="inBuyBtn btn btn-success" data-product_id="{{ product_image.product.id }}" data-product_name="{{ product_image.product.name }}"
				data-product_price="{{ product_image.product.price }}">
			Добавить в корзину.
			</button>
		</form>

		<!-- <a href="#" class="btn btn-success">Go somewhere</a> -->
	</div>
</div>
{% endblock products_cards %}
