

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .result-card{
        min-width: 21%;
        /* max-width: 15%; */
    }
    .plan-card{
        min-width: 21%;
        max-width: 21%;
    }

    .create-callme-morfing{
        display: none;
    }
    .education-card{
        min-width: 200px;
        /* max-width: 243px; */
        /* cursor: pointer; */
    }

    .for-input-spinner {
        min-width: 130px;
        max-width: 131px;
    }
    .formBuyProduct {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
    }

}
    /* .fixed-top{position:inherit;} */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .navbar-brand img {
        max-height: 100px;
    }
        /* .collapse{
        	padding-right:30px;
        } */
     }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* .pad {
        padding-top: 10px;
    } */


    #main-nav ul li {
    font-size: 1.7rem;
    }
    #navbarCollapse {
        position: fixed;
        top: 60px;
        right: 15px;
        left: auto;
        z-index: 1030;
        background-color: #111;
        /* color: orange; */
    }
    #navbarCollapse a{
        font-size: 1.5em;
        color: white;
    }
    #navbarCollapse .nav-item .active{
        border-bottom: 2px solid orange;
        background-color: rgba(255,255,255,.03);
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {


    .navbar-brand img {
        max-height: 40px;
        display: inline-block;

    }
    .header {
        background-color: #111;
    }
    /* #nowDate-main {
        display: inline-block;
        padding-left: 10%;
    } */
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .for-input-spinner .input-group {
        max-width: 40px;
    }
    .form-control {
        padding: .175rem .35rem;
    }
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }

/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* #nowDate-main{
        display: none;
    } */
    /* .nav-link{
        padding: 10px;
    } */

    /* .main {
        padding-top: 140px;
    } */

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
