html { overflow-x:  hidden; }
body {
    background: url("/static/img/bg5.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    /* max-height: 50%; */
    /* height: 100vh; */


    /* font-family: "Courier New"; */
    /* font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Podkova', serif; */
    font-family: 'Roboto', sans-serif;
}
.card {
    background-color: transparent;
}
/* canvas{position: relative;} */
.alert-success {
    color: #fff;
    background-color: rgba(57, 57, 57, 1);
}
.modal-body {
    padding: 0.3rem;
}
a {
    color: black;
}
a:hover {
   color: #848484;
   /* color: #848484; */
}
.footer .social {
    font-size: 1.8rem;
}

.row{
    padding: 10px;

}
/* .main{
    margin-left: 5px;
    margin-right: 5px;
} */
.result-card .card-body, .plan-card .card-body{
    background-color: #ffdb74;
}
.event-card img{
    /* background-color: white; */
    /* color: white; */
    max-height: 180px;
}
.event-card .format{
    right:7%;
    top: 35%;
}
.education-card{
    cursor: pointer;
}
.education-card img{
    /* background-color: white; */
    /* color: white; */
    max-height: 180px;
}
.education-card .format{
    right:7%;
    top: 35%;
    /* background-color: white; */
    /* color: white; */
    /* max-height: 150px; */
}
.education-card:hover {
    background: rgba(120, 118, 118, 0.7);
}
/* .event-card .card-body {
    padding: 0.7rem;
} */
.event-card img{
    /* background-color: white; */
    /* color: white; */
    max-height: 180px;
}
.event-card{
    min-width: 29%;
    cursor: pointer;
}
.event-card:hover {
    background: rgba(120, 118, 118, 0.7);
}
.no-border{
        border: 0px;
}
/*  BACKGROUND CARDS & TRANSPARENT
========================================== */

/* [19:39, 22.12.2018] Елена: #251E2F */
/* .card { background-color: rgba(37, 30, 47, 0.5); } */


/* [19:41, 22.12.2018] Елена: #081B3C */
/* .card { background-color: rgba(8, 27, 60, 0.5); } */

/* [19:44, 22.12.2018] Елена: #393939  .modal-content*/
/* #nowDate span{ background-color: rgba(255, 255, 230, 0.7); } */
.modal-content{ background-color: rgba(249, 217, 106, 1); }
.modal-header p { font-size: 1.2em;}
.modal-header .close:hover {
    background-color: white;
}
/* .modal-content .close{ padding: 5px; } */
.modal-content .modal-header{
    background-color: rgba(249, 217, 106, 1); }
     /* background-color: rgba(234, 179, 163, 1); */
     /* padding: 7px; */
 }

.btn-dark {
    /* color    : #fff; */
    background-color: #151515;
    /* background-color: black; */
    /* border-color: #343a40; */
}

.btn-event, .edu-btn{
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
    /* background-color: black; */
}

/* [19:46, 22.12.2018] Елена: #002222 */
/* .card { background-color: rgba(0, 34, 34, 0.7); } */

/*  BACKGROUND CARDS & TRANSPARENT END
========================================== */



/*  PHONE BUTTON
========================================== */

.reqest-get{
    position:static;
    z-index:499;
    width:45px;
    /* height:40px; */
    border-radius:50%;
    background-color: white;
    cursor:pointer;
}
.reqest-get:before,.reqest-get:after{
    position:absolute;
    top:50%;
    left:50%;
    border-radius:50%;
    display:block;
    visibility:hidden;
    -webkit-transform:translate3d(-50%, -50%, -1);
    transform:translate3d(-50%, -50%, -1);
    content:'';
    background-color: white;
    opacity:0;
    cursor:default;
}
.reqest-get:before{
     width:55px;
     height:55px;
}
.reqest-get:after{
    width:72px;
    height:72px
}
@media screen and (min-width: 768px){
    .reqest-get{
        display:block
    }
}
@media screen and (min-width: 1379px){
    .reqest-get{
        right:calc((100% - 1400px) / 2)
    }
}
.reqest-get_title{
    position:relative;
    z-index:2;
    margin:0;
    width:100%;
    height:100%;
    border-radius:50%;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size:9px;
    color:#ffffff;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    /* font-family:"Open Sans", sans-serif;
    line-height:1 */
}
.reqest-get_title:hover{
    background-color: orange;
}
.reqest-get_title h3{
    /* font-weight: 500; */
    /* letter-spacing: 2px; */
}
.reqest-get_sub-title{
    width:60px;
    font-size:17px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:0.76px;
    text-shadow:0 1px 1px rgba(141, 219, 21, 0.47);
    text-align:center;
}
.above-mask{
    z-index:501
}
.animation-active{
    -webkit-animation:shakeCallbackWidget 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    animation:shakeCallbackWidget 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    -webkit-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    transform:translate(0, 0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-perspective:1000px;
    perspective:1000px;
    -webkit-animation-delay:3s;
    animation-delay:3s;
}
.animation-active:before,.animation-active:after{
     -webkit-backface-visibility:hidden;
     backface-visibility:hidden;
     -webkit-perspective:1000px;
     perspective:1000px
}
.animation-active:before{
    -webkit-animation:pulsateInner 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    animation:pulsateInner 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    -webkit-animation-delay:3s;
    animation-delay:3s
}
.animation-active:after{
    -webkit-animation:pulsateOuter 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    animation:pulsateOuter 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    -webkit-animation-delay:3s;
    animation-delay:3s
}
.animation-active.pause-animation{
    -webkit-animation:none;
    animation:none
}
.animation-active.pause-animation:before,.animation-active.pause-animation:after{
    -webkit-animation:none;
    animation:none
}
@-webkit-keyframes shakeCallbackWidget{
    2%,18%{
        -webkit-transform:translate(-1px, 0);
        transform:translate(-1px, 0);
    }
    4%,16%{
        -webkit-transform:translate(2px, 0);
        transform:translate(2px, 0);
    }
    6%,10%,14%{
        -webkit-transform:translate(-4px, 0);
        transform:translate(-4px, 0);
    }
    8%,12%{
        -webkit-transform:translate(4px, 0);
        transform:translate(4px, 0);
    }
    20%{
        -webkit-transform:translate(0, 0);
        transform:translate(0, 0);
    }
}
@keyframes shakeCallbackWidget{
    2%,18%{
        -webkit-transform:translate(-1px, 0);
        transform:translate(-1px, 0);
    }
    4%,16%{
        -webkit-transform:translate(2px, 0);
        transform:translate(2px, 0);
    }
    6%,10%,14%{
        -webkit-transform:translate(-4px, 0);
        transform:translate(-4px, 0);
    }
    8%,12%{
        -webkit-transform:translate(4px, 0);
        transform:translate(4px, 0);
    }
    20%{
        -webkit-transform:translate(0, 0);
        transform:translate(0, 0);
    }
}
@-webkit-keyframes pulsateInner{
    0%{
        visibility:visible;
        -webkit-transform:translate3d(-50%, -50%, 0) scale(0.1, 0.1);
        transform:translate3d(-50%, -50%, 0) scale(0.1, 0.1);
        opacity:0;
    }
    20%{
        opacity:.4;
    }
    40%,100%{
        visibility:hidden;
        -webkit-transform:translate3d(-50%, -50%, 0) scale(1.1, 1.1);
        transform:translate3d(-50%, -50%, 0) scale(1.1, 1.1);
        opacity:0;
    }
}
@keyframes pulsateInner{
    0%{
        visibility:visible;
        -webkit-transform:translate3d(-50%, -50%, 0) scale(0.1, 0.1);
        transform:translate3d(-50%, -50%, 0) scale(0.1, 0.1);
        opacity:0;
    }
    20%{
        opacity:.4;
    }
    40%,100%{
        visibility:hidden;
        -webkit-transform:translate3d(-50%, -50%, 0) scale(1.1, 1.1);
        transform:translate3d(-50%, -50%, 0) scale(1.1, 1.1);
        opacity:0;
    }
}
@-webkit-keyframes pulsateOuter{
    0%{
        visibility:visible;
        -webkit-transform:translate3d(-50%, -50%, 0) scale(0.1, 0.1);
        transform:translate3d(-50%, -50%, 0) scale(0.1, 0.1);
        opacity:0;
    }
    20%{
        opacity:.3;
    }
    40%,100%{
        visibility:hidden;
        -webkit-transform:translate3d(-50%, -50%, 0) scale(1.1, 1.1);
        transform:translate3d(-50%, -50%, 0) scale(1.1, 1.1);
        opacity:0;
    }
}
@keyframes pulsateOuter{
    0%{
        visibility:visible;
        -webkit-transform:translate3d(-50%, -50%, 0) scale(0.1, 0.1);
        transform:translate3d(-50%, -50%, 0) scale(0.1, 0.1);
        opacity:0;
    }
    20%{
        opacity:.3;
    }
    40%,100%{
        visibility:hidden;
        -webkit-transform:translate3d(-50%, -50%, 0) scale(1.1, 1.1);
        transform:translate3d(-50%, -50%, 0) scale(1.1, 1.1);
        opacity:0;
    }
}
/*  PHONE BUTTON END
========================================== */






/*  NAV
========================================== */
.nav-item .active{
    /* background-color: red; */
    border-bottom: 2px solid black;
    /* background-color: rgba(0,0,0,.03); */
}

/*  Main MENU landing
========================================== */

/* #main-nav ul a:before {
    display: inline-block;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-size: 0.4rem;
    font-weight: 400;
    content: "\f111";
    padding: 5px;
    padding-bottom: 8px;
    vertical-align: middle;
} */

/*
==========================================
font-style: normal;
    Main MENU landing END
 */



.tx{
    border: 1px black; /* Параметры границы */
    background: black; /* Цвет фона */

}


.table td {
    vertical-align: middle;
    padding: .45rem;
}

.input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.input[type=number]::-webkit-inner-spin-button,
.input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.card-img-small {
	max-width: 20%;
	max-height: 20%;
}

.card-img-medium {
	max-width: 30%;
    max-height: 128px;
}
/* .container{
    padding: 3px;
} */

/* .cards-container {
padding: 1% 4% !important; */
/* background-image: url('img/cardback.png');*/ /* Путь к фоновому изображению */
/* } */

/* carousel
========================================== */
/*
.carousel.carousel-fade .carousel-item {
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;*

}*/
#carousel-event img{
    max-height: 17rem;
}
.ya-share2__icon {
    height: 32px !important;
    width: 32px !important;
    padding-top: 2px !important;
}
.ya-share2__item {
    padding-top: 3px !important;
}
.carousel-card {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
/* carousel end
========================================== */
    /* .create-callme {position: relative;} */
.footer aside{
        width: 38px;
        height: 38px;
    }
