{% extends "wrapper.html" %}
{% load static %}
{% block content %}

<section class="container pb-md-5">
  <div class="col-12 text-center mb-0 p-5">
    <h3 class="mb-0">Контакты</h3>
  </div>
    <div class="row">
        <div class="col-12 col-md-5 col-lg-4 p-5 order-2 order-md-1 ">
            <!-- <div class=""> -->
                <h5 class="mb-4">LIKWID Club</h5>
                <p class="">
                  Российская Федерация,<br>
                  г.Москва,<br> переулок Каменная Слобода, д.1

                </p>
                <p>
                    <span><i class="fas fa-phone fa-flip-horizontal"></i></span>
                    <span class="pl-2 text-nowrap">+7 (499) 110-0230</span>
                  </p>
                  <p>
                    <span><i class="fas fa-envelope"></i></span>
                    <span class="pl-2 text-nowrap">info@likwid.ru</span>
                </p>
                <p class="">
                  ©  2019 Likwid. All Rights Reserved.
                </p>
                <a class="btn btn-outline-light btn-lg text-nowrap btn-pink" href="#" role="button">Проложить маршрут</a>

            <!-- </div> -->
        </div>
        <div class="col-12 col-md-7 col-lg-8 p-0 map order-1 order-md-2">
            <!-- <img class="img-f" src="{% static 'img/img38.png' %}" alt="Second slide"> -->
            <iframe class="" src="https://yandex.ru/map-widget/v1/-/CBRlVDfXCC" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
</section>

{% endblock content %}
